* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background-image: url("/assets/img/desktop-background2.png");
    background-size: contain;
}

nav {
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    margin-bottom: 30px;


}

a {
    color: #130f9b;
    font-weight: 200;
    font-size: 15px;
}

.img1 {
    margin-top: 5px;
    width: 110px;
    height: 100px;
}

ul {

    display: flex;
    justify-content: space-around;
}

li {
    margin: 30px;
}

.footer-content img {
    width: 160px;
    height: 90px;
}

hr {
    height: 1px;
    width: 80%;
    color: #8e3fd7;
    width: 600;
    margin-left: 10%;

}

.footer-content {
    display: block;
    width: 100%;
    height: 200px;
    position: relative;
    background-color: white;
}

.confirm-button {
    height: 192px;
    width: 100%;
   


}

.confirm-text {
    height: 192px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;

}

#checkout {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: white;
    background: #ad5389;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
}

#checkout svg {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

#checkout span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

#checkout:hover svg {
    transform: translateX(5px) rotate(90deg);
}

button:hover span {
    transform: translateX(7px);
}

#text-navbar-1:hover {
    padding: 12px;
    box-shadow: inset 100px 0 0 0 #673fd7;
    color: white;
}

#text-navbar-2:hover {
    padding: 12px;
    box-shadow: inset 100px 0 0 0 #673fd7;
    color: white;
}

#text-navbar-3:hover {
    padding: 12px;
    box-shadow: inset 100px 0 0 0 #673fd7;
    color: white;
}

#text-navbar-4:hover {
    padding: 12px;
    box-shadow: inset 100px 0 0 0 #673fd7;
    color: white;
}

.noselect {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 12px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #e62222;
}


.noselect,
.noselect span {
    transition: 200ms;
}

.noselect .text {
    transform: translateX(30px);
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.noselect .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.noselect svg {
    width: 15px;
    fill: #eee;
}

.noselect:hover {
    background: #ff3636;
}

.noselect:hover .text {
    color: transparent;
}

.noselect:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
}

.noselect:focus {
    outline: none;
}

.noselect .icon svg {
    transform: scale(0.8);
}
.buttons-payment{
    display: flex;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;
}
